footer {
  width: 100%;
  background-color: #e2e2e1;
  color: #5e6269;

  .footer-wrapper {
    padding: 24px 16px;

    .footer-logo {
      align-self: center;
      min-width: 240px;
      width: 240px;
      margin-right: 30px;
    }

    @media screen and (max-width: 767px) {
      & {
        flex-direction: column;

        .footer-logo {
          align-self: center;
          margin-right: 0;
          margin-bottom: 12px;
        }

      }
    }
  }
}
