<footer>
  <div class="footer-wrapper d-flex justify-content-center">
    <div class="footer-logo">
      <img src="../../../assets/img/logo-footer.png">
    </div>
    <div class="footer-description">
      <p>
        <b>테서랙트 컨퍼런스</b>
      </p>
      <p>
        주소 : (06142) 서울특별시 강남구 테헤란로37길 7, 5층, 10층(조이타워) 아이쿱<br>
        대표이사: 조재형<br>
        사업자등록번호: 114-86-94723<br>
        문의전화 : 02-6956-7041~2<br>
        이메일 : tesseract@ikoob.com
      </p>
    </div>
  </div>
</footer>
