$headerHeight: 68px;
$brandHeight: 54px;

header {
  background: var(--white);
  border-bottom: 1px solid var(--gray22);
  min-height: $headerHeight;

  &.not-ie {
    >div {
      opacity: 0;
    }
  }

  nav {
    min-height: $headerHeight;

    .navbar-brand {
      margin-right: 36px;
      width: 240px;
      height: 68px;
      max-width: calc(100% - 180px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/assets/img/logo-header.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    button.navbar-toggler {
      width: 40px;
      height: 32px;
    }
  }

  .navbar-collapse {
    padding: 16px;

    ul li.nav-item {
      margin-right: 32px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: var(--gray25);
        font-size: 1.4rem;

        &.active {
          color: var(--blue6);
        }
      }

      &:hover {
        background: var(--gray7);

        a {
          color: var(--black);
        }
      }
    }

    ul li#LIVE .nav-link {
      position: relative;
      color: var(--orange2);
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;

      &::before {
        position: absolute;
        content: '';
        top: .5rem;
        left: .2rem;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--orange2);
      }

      &.active {
        color: var(--red);

        &::before {
          background: var(--red);
        }
      }
    }

    ul li#VOD .nav-link {
      color: var(--blue7);

      &.active {
        color: var(--blue1);
      }
    }
  }

  .btn-login {
    color: var(--gray25);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;

    &.active {
      color: var(--gray14);
    }
  }

  .pre-registration {
    margin-right: 40px;
    color: white;
    background-color: rgb(20, 20, 60);
    padding: 12px 15px;
    border-radius: 0.25rem;
  }

  .btn-atndn {
    width: 154px;
    height: 34px;
    color: var(--white);
    border-radius: 11px;
    background: var(--blue5);

    &.d-lg-none {
      width: 100px;
    }
  }

  .my-menus {
    gap: 10px;

    .btn-my-page {
      color: var(--gray14);
      font-size: 1.4rem;
      padding-right: 0px;

      img {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.abstract {
  background: skyblue;
  border-radius: 15px;
  align-self: center;
  padding: 0 4px;

  .nav-link {
    color: var(--white) !important;
  }

  &:hover {
    background-color: var(--main-color) !important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}

.abstract2 {
  background: rgb(103, 184, 188);
  border-radius: 15px;
  align-self: center;

  padding: 0 4px;

  .nav-link {
    color: var(--white) !important;
  }

  &:hover {
    .nav-link {
      color: var(--black) !important;
    }
  }
}

.item-eopatch {
  background-color: #7ac029;

  &:hover {
    background-color: #00A2E4 !important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}

@media (max-width: 1280px) {
  header {

    .abstract,
    .abstract2 {
      margin: 1px;
    }

    .navbar-collapse ul li.nav-item {
      margin-right: 0;

      &>a {
        font-size: 1.4rem;
      }
    }
  }
}
