<div class="reply not-drag">
  <div class="reply-header">
    채팅
  </div>
  <div class="reply-list">
    <div #commentList class="reply-history">
      <div class="reply-item-container" *ngFor="let reply of replys; let last = last">
        <div class="reply-item-lt">
          <div class="reply-username" [innerHTML]="reply?.member?.name"></div>
          <div class="reply-content">
            <span [innerHTML]="reply.content | linkify"></span>
            <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
          </div>
        </div>
        <div class="reply-item-rt">
          <div class="reply-date" [innerHTML]="reply?.createdAt | date:('HH:mm')">
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
    <label>{{user.name}}</label>
    <input class="form-control" type="text" placeholder="의견을 남겨주세요." formControlName="content" />
    <hr>
    <div class="text-right">
      <!-- 0/200  -->
      <button class="btn btn-send" type="submit">SEND</button>
    </div>
  </form>
</div>
