.timetable-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.korea-time-wrapper {
  width: 100%;
  max-width: 1200px;
  height: 45px;
  margin: 0 auto;

  .korea-time {
    float: right;
    width: 230px;
    position: relative;
    color: var(--gray10);
    font-size: 1.4rem;

    img {
      width: 45px;
      margin-right: 12px;
    }

    .korea-image {
      position: absolute;
      width: 45px;
      top: -4px;
      left: -26px;
    }
  }
}

.timetable-nav {
  font-size: 1.33rem;

  .timetable-title {
    height: 64px;
    line-height: 64px;
    background: var(--gray6);
    text-align: center;
  }

  .timetable-list {
    margin-bottom: 48px;
  }

  .nav-item {
    flex: 0 0 40%;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    height: 64px;
    background: var(--white);
    border: 1px solid var(--gray22);

    font-size: 1.4rem;

    &>a {
      height: 100%;
      display: block;
      color: var(--white);
      line-height: 64px;
      text-align: center;
      text-decoration: none;
      background: rgb(24, 40, 81);

      &.active,
      &:hover {
        color: var(--white);
        background: rgb(24, 40, 81);
      }
    }
  }
}

.timetable {
  .txt-korean-session {
    color: var(--red);
    max-width: 977px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
  }

  .timetable-label {
    margin-bottom: 8px;
    color: var(--red);
    font-size: 1.2rem;
  }

  table {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    th {
      font-weight: 500;
    }

    tr {
      .date {
        text-align: left;
      }
    }

    th {
      padding: 7px 5px 9px;
      height: 45px;
      position: relative;
      color: var(--white);
      background: rgb(24, 40, 81);
      // color: rgb(57, 173, 180);
      font-size: 1.1rem;
      font-weight: 700;
      text-align: center;
      border: 1px solid var(--gray27);
    }

    td {
      min-width: 48px;
      text-align: center;

      b {
        font-weight: 700;
      }

      padding: 2px 8px;

      &.time {
        text-align: center;
        word-break: keep-all;
      }

      word-break: break-word;
      height: 45px;

      font-size: 15px;
      font-weight: 500;

      line-height: 1.6;
      background: var(--white);

      border: 1px solid #767676;
      cursor: pointer;

      &.bg_general {
        // background: rgb(185, 162, 136);
        background: #d7b693;
        // #ffe8ce
        font-weight: bold;
      }

      &.bg_session {
        background: #ffe8ce
      }

    }
  }
}

.session-detail-btn {
  display: none;
}

// 세션 상세 모달
.modal-dialog {
  max-width: 940px;

  .modal-content {
    max-height: 500px;
    overflow-y: scroll;

    .modal-description {
      font-size: 16px;

      .modal-description-header {
        display: flex;
        padding: 2px 12px;
        background: var(--main-color);
        min-height: 40px;
        align-items: center;
        font-weight: 700;
        color: var(--white);

        .close {
          position: absolute;
          right: 12px;

          color: var(--white);
          opacity: 1.0 !important;
        }
      }

      .modal-description-body {
        cursor: pointer;

        .session-info {
          background: var(--gray26);
          color: var(--black);
          min-height: 80px;

          display: flex;

          .lt {
            width: 70%;
            border-right: 1px solid white;

            .session-title {
              padding: 2px 8px;
              display: flex;
              height: 100%;
              align-items: center;
            }
          }

          .rt {
            width: 30%;

            .session-speaker-list {
              padding: 2px 8px;

              .speaker-name {
                margin-right: 4px;
                font-weight: bold;
              }
            }
          }
        }

        .sub-list {
          .sub-list-item {
            display: flex;
            width: 100%;
            border-bottom: 1px solid var(--gray26);
            min-height: 70px;

            .sub-agenda-time-wrapper {
              width: 15%;
              border-right: 1px solid var(--gray26);

              .sub-agenda-time {
                padding: 2px 8px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            .sub-agenda-title-wrapper {
              width: 55%;
              border-right: 1px solid var(--gray26);

              .sub-agenda-title {
                padding: 2px 8px;
                display: flex;
                height: 100%;
                align-items: center;
              }
            }

            .sub-agenda-speakers-wrapper {
              width: 30%;

              .sub-agenda-speakers-container {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;

                .sub-agenda-speakers {
                  padding: 2px 8px;

                  .sub-agenda-speaker-name {
                    margin-right: 4px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }

        @media (max-width:575px) {
          & {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .timetable {
    table {

      th,
      td {
        font-size: 8px;
        padding: 2px 4px;
      }
    }
  }
}

@media(max-width: 575px) {

  .timetable-nav {
    .nav-item {
      &>a {
        line-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
