<div class="player-wrapper">
  <div class="player-inner">
    <div class="player-container" [ngClass]="{'is-vod': !isLive}" *ngIf="liveUrl">
      <div class="player">
        <div class="embed-container">
          <iframe width="560" height="315" [src]="liveUrl" title="video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <ng-container *ngIf="relationId && chatProvider === 3">
      <app-chat-ikoob (checkIsLastSession)="callCheckIsLastSession($event)" [relationId]="relationId"></app-chat-ikoob>
    </ng-container>
  </div>
  <marquee class="marquee-noti" scrolldelay="10" scrollAmount="12">이오플로우 이오패치 웨비나가 종료되었습니다. 다시보기를 원하시는 분들은 상단의 VOD 페이지로 이동하시길 바랍니다.</marquee>
  <!-- 광고 구좌-->
  <div class="banners-wrapper" *ngIf="banners.length > 0">
    <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
    <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="6" [animationSpeed]="2"
      [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 14 }" [manageImageRatio]="true"
      [showArrow]="false" (imageClick)="imageClick($event)">
    </ng-image-slider>
    <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
  </div>

  <div class="content-inner p-0">
    <div class="btn-collapse-wrapper d-flex justify-content-end" data-toggle="collapse" href="#collapse_agenda_list"
      role="button">
      <div class="btn-program">
        프로그램 보기
      </div>
      <div>
        <img src="assets/img/ic_dropdown_class_up.png">
      </div>
    </div>
  </div>

  <!-- Agendas 강의 목록 -->
  <div class="program-agendas collapse show" id="collapse_agenda_list">
    <div class="content-inner p-0">
      <div *ngFor="let agenda of agendas">
        <div *ngIf="agenda.isSession; else isAgenda">
          <app-session [session]="agenda" (detailFn)="goDetail($event)"></app-session>
        </div>
        <ng-template #isAgenda>
          <app-agenda [agenda]="agenda" (detailFn)="goDetail($event)">
          </app-agenda>
        </ng-template>
      </div>
    </div>
  </div>


</div>
