.player-wrapper {
  .player-inner {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;

    .player-container {
      width: 74%;

      .player {
        max-width: 100%;
        margin: 0 auto;

        .embed-container {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          overflow: hidden;
          max-width: 100%;
          display: flex !important;
          justify-content: center !important;

          iframe,
          object,
          embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex !important;
            justify-content: center !important;
          }
        }
      }
    }

    app-chat-ikoob {
      width: 26%;
    }
  }

  .banners-wrapper {
    width: 100%;
    margin: 0px auto;
    position: relative;
    padding: 0 34px;
    margin-bottom: 32px;

    .banners-btn {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 100%;
      background: #EAEAEA;

      &.banners-prev {
        left: 0;

        img {
          transform: rotate(-90deg);
        }
      }

      &.banners-next {
        right: 0;

        img {
          transform: rotate(90deg);
        }
      }
    }

    ng-image-slider {
      display: flex;

      .ng-image-slider {
        .ng-image-slider-container .main .img-div {
          position: relative;
          padding: 0 8px;
          box-shadow: none;
          border-radius: 0;
          cursor: pointer;

          img {
            max-width: 80%;
            max-height: 80%;
            border-radius: 0;
            // max-height: 40px ;
          }

          &::before {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 1px;
            height: 14px;
            border: 1px solid #E2E2E2;
            box-sizing: border-box;
            content: '';
          }
        }
      }
    }
  }

  .btn-collapse-wrapper {
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    background: #9bd0f0;
    color: #5e6269;
    img {
      transform: rotate(180deg);
    }

    &:hover {
      cursor: pointer;
      background: #d4dade;
      transition: all .3s ease;
    }

    padding:2px 8px;

    .btn-program {
      font-size: 15px;
      font-weight: 700;
      margin-right: 15px;
    }
  }

  .program-agendas {
    padding-bottom: 40px;
  }

  .marquee-noti {
    font-size: 16px;
    margin-bottom: 8px;
    border: 3px solid var(--blue1);
    border-radius: 15px;

    height: 42px;
    display: flex;
    align-items: center;


  }
}

@media screen and (max-width: 1014px) {
  .player-wrapper .player-inner {
    flex-direction: column;

    .player-container {
      width: 100%;
    }

    app-chat-ikoob {
      width: 100%;
    }
  }
}
