.content-body {
  padding-bottom: 150px;

  article {
    width: 100%;
  }
}

.content-wrapper {
  &.no-top {
    padding: 0;
  }
}

body table {
  line-height: 1;
}

.for-mobile {
  display: none;
}

.is-about-detail {
  iframe.custom_frame {
    width: calc(100vw - 128px);
    aspect-ratio: 16/9;
    margin: 0 auto;
    body {
      border: 2px solid red;
    }
  }
}

.content-inner {
  p {
    word-break: break-word !important;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;

    img {
      margin-bottom: 16px;
    }
  }

  &.is-about-detail {
    padding: 0px 64px;
  }
  .title-wrapper {
    &.custom-about-title-wrapper {
      margin-left: 40px;
      padding-bottom: 20px;

      .custom-about-header {
        display: flex;

        .txt-about {
          font-size: 30px;
          margin-right: 16px;
          font-weight: bold;
          color: #5e6269;
        }

        img {
          max-height: 45px;
        }
      }
    }

    .welcome-title-image {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0 auto;
      background-image: url("/assets/img/welcome-title.png");
      background-size: contain;
      vertical-align: middle;
    }
  }
}

@media (max-width: 767px) {
  section.about {
    // 페이지 타이틀 래퍼
    .title-wrapper {
      margin-left: 16px !important;
      margin-bottom: 0px !important;
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
      // 페이지 네밍
      .txt-about {
        font-size: 16px !important;
        line-height: 45px;
        margin-right: 8px !important;
      }
      // 로고 이미지
      figcaption {
        display: flex;
        align-items: center;
        img {
          max-height: 14px !important;
        }
      }
    }

    .custom_img {
      display: none;
    }
    // 모바일 띠배너
    .for-mobile {
      display: block;
      padding: 8px 16px;
    }
    // iframe 래퍼 패딩 좌우 조정
    .is-about-detail {
      padding: 16px;
      p > p {
        &:nth-child(1),
        &:nth-child(2) {
          display: none;
        }
      }
      p {
        font-size: 14px;
        margin-bottom: 8px;
      }
      iframe.custom_frame {
        width: calc(100vw - 32px);
        aspect-ratio: 16/9;
        margin: 0 auto;
        body {
          border: 2px solid red;
        }
      }
    }
  }
  .content-body {
    padding-bottom: 30px;
  }
}
