<div [ngClass]="{'content-body patten-true': !opt }">
  <div class="content-wrapper" [ngClass]="{'no-top': opt}">
    <div class="content-inner">
      <div class="title-wrapper custom-about-title-wrapper">
        <div class="custom-about-header row">
          <div class="txt-about">ABOUT</div>
          <figcaption>
            <img src="../../../assets/img/logo-about.png">
          </figcaption>
        </div>
      </div>
    </div>
    <article [ngClass]="{ 'background-true' : !opt, 'about': !opt } ">
      <img class="for-mobile" src="../../../assets/img/logo-about-mobile.png">
      <div class="content-inner is-about-detail" *ngIf="opt">
        <p [innerHTML]="event?.description | safeHtml "></p>
      </div>
      <div class="content-inner is-about-detail" *ngIf="!opt">
        <p [innerHTML]="event?.description2 | safeHtml "></p>
      </div>
    </article>
  </div>
</div>