<div class="player-wrapper">
  <div class="player-inner">
    <div class="player-container" [ngClass]="{'is-vod': !isLive}" *ngIf="liveUrl">
      <div class="player">
        <div class="embed-container">
          <iframe width="560" height="315" [src]="liveUrl" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="reply not-drag">
      <div class="reply-header">
        채팅
      </div>
      <div class="reply-list">
        <div #commentList class="reply-history">
          <div class="reply-item-container" *ngFor="let reply of replys; let last = last">
            <div class="reply-item-lt">
              <div class="reply-username" [innerHTML]="reply?.member?.name"></div>
              <div class="reply-content">
                <span [innerHTML]="reply.content | linkify"></span>
                <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
              </div>
            </div>
            <div class="reply-item-rt">
              <div class="reply-date" [innerHTML]="reply?.createdAt | date:('HH:mm')">
              </div>
            </div>
          </div>
        </div>
      </div>
      <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
        <label>{{user.name}}</label>
        <input class="form-control" type="text" placeholder="의견을 남겨주세요." formControlName="content" />
        <hr>
        <div class="text-right">
          <!-- 0/200  -->
          <button class="btn btn-send" type="submit">SEND</button>
        </div>
      </form>
    </div>
  </div>

  <!-- 광고 구좌-->
  <div class="banners-wrapper" *ngIf="banners.length > 0">
    <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
    <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="6" [animationSpeed]="2"
      [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 14 }" [manageImageRatio]="true"
      [showArrow]="false" (imageClick)="imageClick($event)">
    </ng-image-slider>
    <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
  </div>

  <div class="content-inner p-0">
    <div class="btn-collapse-wrapper d-flex justify-content-end" data-toggle="collapse" href="#collapse_agenda_list"
      role="button">
      <div class="btn-program">
        프로그램 보기
      </div>
      <div>
        <img src="assets/img/ic_dropdown_class_up.png">
      </div>
    </div>
  </div>

  <!-- Agendas 강의 목록 -->
  <div class="program-agendas collapse" id="collapse_agenda_list">
    <div class="content-inner p-0">
      <div *ngFor="let agenda of agendas">
        <div *ngIf="agenda.isSession; else isAgenda">
          <app-session [session]="agenda" (detailFn)="goDetail($event)"></app-session>
        </div>
        <ng-template #isAgenda>
          <app-agenda [agenda]="agenda" (detailFn)="goDetail($event)">
          </app-agenda>
        </ng-template>
      </div>
    </div>
  </div>


</div>
