<div class="content-body">
  <div class="banner-wrapper">
    <img [src]="'assets/img/banner-login.png'" role="img" alt="banner image">
  </div>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input class="mb-1" name="password" type="password" id="password" [(ngModel)]="member.password"
            (keyup.enter)="login()" />
          <div class="d-flex justify-content-end">
            <a data-toggle="modal" data-target="#findPassword">
              <u>
                비밀번호 찾기
              </u>
            </a>
          </div>
        </div>
        <div class="login-bottom">
          <div class="password-error">
            {{passwordError?passwordError:''}}
          </div>
        </div>
        <div class="login-noti">
          E-mail 또는 Password 오류 시, 텍스트 공백 확인 및 스펠링 대&소문자를 확인해 주세요.
        </div>
        <div class="submit-button">
          <button class="btn font-weight-bold" (click)="login()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 비밀번호 찾기 -->
<div class="modal find-password fade" id="findPassword" data-backdrop="static" role="dialog"
  aria-labelledby="findPassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 찾기
        </div>
        <div class="modal-description">
          <p>등록된 메일로 임시비밀번호를 발급합니다.<br>
            등록된 이메일을 작성해 주세요.
          </p>
        </div>

        <div class="form-group row">
          <label for="pwd-email" class="col-sm-2 col-form-label">E-mail</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="pwd-email" [(ngModel)]="pwdEmail" (keyup.enter)="sendEmail()">
          </div>
        </div>
        <div class="find-password-error text-center">{{findPasswordError}}</div>
        <div class="btn-submit">
          <button type="button" class="btn btn-block confirm-btn" (click)="sendEmail()">
            위 메일로 임시비밀번호를 발급합니다.
          </button>
          <button class="btn btn-danger cancel" data-toggle="modal" data-target="#findPassword"
            (click)="cancelFindPwd()">
            취소
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
