<app-header *ngIf="!isIe" [event]="event"></app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="!isIe"></app-footer>
<!-- <button class="btn board-btn" (click)="openKakao()">Help</button> -->

<div class="toast-wrapper">
  <!-- <div class="toast-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill"
      viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </svg>
    <strong class="mr-auto">&nbsp;Notification</strong>
    <small>${date}</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <b>${data.title}</b><br>
    ${data.description}
  </div>` -->
</div>

<!-- Entry modal -->
<div class="modal multi-login-alert fade" id="multiLoginAlert" data-backdrop="static" role="dialog"
  aria-labelledby="multiLoginAlert" data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          알림
        </div>
        <div class="modal-description">
          <p class="text-center" style="color:yellow;">
            다른 기기에서 로그인 되었습니다.
          </p>
        </div>
        <div class="modal-footer confirm-btn">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#multiLoginAlert"
            (click)="goToLogin()">
            확인
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
