@font-face {
  font-family: 'icon-font';
  src:  url('./icon-font/icon-font.eot?thqfd');
  src:  url('./icon-font/icon-font.eot?thqfd#iefix') format('embedded-opentype'),
    url('./icon-font/icon-font.ttf?thqfd') format('truetype'),
    url('./icon-font/icon-font.woff?thqfd') format('woff'),
    url('./icon-font/icon-font.svg?thqfd#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 돋보기 */
.icon-search:before {
  content: "\e911";
  color: #888;
}
/* 좋아요 */
.icon-thumb_up:before {
  content: "\e912";
}

/* 다운로드 */
.icon-download:before {
  content: "\e90a";
  color: #6e6e6e;
}
/* 화살표 왼쪽 */
.icon-left:before {
  content: "\e90b";
}
/* 화살표 오른쪽 */
.icon-right:before {
  content: "\e90e";
}
/* 더보기 */
.icon-more:before {
  content: "\e90c";
  color: #6e6e6e;
}
/* 문의하기 */
.icon-inquire:before {
  content: "\e90d";
  color: #fff;
}
/* 닫기 버튼 */
.icon-close-w:before {
  content: "\e90f";
  color: #fff;
}
.icon-close:before {
  content: "\e910";
  color: #8e8e8e;
}
