<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="vod d-flex justify-content-between">
          Video On Demand
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <div class="dates-wrapper d-flex justify-content-between">
          <div>
            <select class="custom-select" [(ngModel)]="selectedDateId" (change)="changeDate()" *ngIf="dates.length">
              <option value="" [disabled]="true">날짜를 선택해주세요.</option>
              <option *ngFor="let date of dates; let $index = index;" [value]="date.id">{{($index+1)+'차 : '}}{{date.date}}
              </option>
            </select>
          </div>
          <div>
            <form class="search-wrapper" [formGroup]="search" (submit)="submit()">
              <input type="text" class="form-control search-input " placeholder="Search..." formControlName="keyword">
              <button class="btn search-btn" type="submit">Search</button>
            </form>
          </div>
        </div>
        <div *ngIf="searched && searchKeyword" class="search-result">
            "{{searchKeyword}}" 결과 <span *ngIf="totalCount < 10">0</span>{{totalCount}}건
        </div>
        <div class="category" *ngFor="let category of categories">
          <div class="category-title" *ngIf="category.categoryName">{{category.categoryName}}</div>
          <div class="vod-group-wrapper">
            <div *ngFor="let vod of category.vods  | paginate: {totalItems: pageSize * totalPagesCount ,itemsPerPage: pageSize, currentPage: page}; let i = index" class="vod-group">
              <div class="img_box" (click)="vod.contents ? goDetail(vod) : ''">
                <img [src]="vod.thumbnailUrl || '/assets/img/thumbnail_temp.png'" alt="thumbnail_img"
                  class="rounded float-left thumbnail_style">

                <div *ngIf="vod.isOnOff; else isOffAir" class="is-on-off bg-danger text-white">ON</div>
                <ng-template #isOffAir>
                  <div class="is-on-off bg-dark text-white">OFF</div>
                </ng-template>
              </div>
              <div class="vod thumbnail_title_style">
                <div class="vod-info">
                  <div class="title title-click" *ngIf="vod.title" (click)="vod.contents ? goDetail(vod) : ''"
                    [innerHTML]="vod.title | safeHtml">
                  </div>

                  <div class="description" [innerHtml]="vod.description"></div>
                </div>
                <div class="speakers" *ngIf="vod.speakers">
                  <div class="speaker" *ngFor="let speaker of vod.speakers">
                    <div *ngIf="speaker.fullName" class="speaker-name">{{speaker.fullName}}</div>
                    <div *ngIf="speaker.company" class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <div class="vod-not-found" *ngIf="!categories.length">
          <span *ngIf="!searchKeyword">행사 종료 후 제공될 예정입니다</span>
          <span *ngIf="searchKeyword">검색 결과가 존재하지 않습니다</span>
        </div>
        <div class="board-footer">
          <div class="container d-flex flex-wrap justify-content-center">
            <pagination-controls [directionLinks]="true" [responsive]="true" [previousLabel]="''"
              [nextLabel]="''" [maxSize]="5" (pageChange)="changePage($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

