/* You can add global styles to this file, and also import other style files */
@import "./assets/icon-font.css";

:root {
  --white: #FFF;
  --black: #000;
  --red: #FF0000;
  --pink: #FFE9E2;
  --pink2: #FFD5D2;
  --pink3: #FCCFE3;
  --navy: #355bb7;
  --navy2: #121652;

  --main-color: #355bb7;
  --main-color-active: #182e63;
  --blue1: #003BFF;
  --blue2: #0077FF;
  --blue3: #0089FF;
  --blue4: #0091BE;
  --blue5: #678AFB;
  --blue6: #678AFF;
  --blue7: #68B9FF;
  --blue8: #0053FA;
  --blue9: #017FFB; // 마이페이지
  --blue10: #008ABC;
  --blue11: #c8e4ee;
  --bluegray: #7C8C9B;
  --blue12: #4D87FA;

  --darkBlue: #203663;
  --darkBlue2: #43556b;
  --darkBlue3: #859ae5;
  --skyBlue: #BED6EE;

  --yellow1: #FFE383;
  --yellow2: #FFE600;
  --yellow3: #FEEEA8;

  --orange: #FBDFBF;
  --orange2: #FFAA00;

  --gray: #BFC0C0;
  --gray2: #DFDFDF; // #DCDCDC
  --gray3: #E8EAEA;
  --gray4: #E9EAEA;
  --gray5: #E9F3FF;
  --gray6: #F2F2F2;
  --gray7: #F3F3F3;
  --gray8: #FAFAFA;
  --gray9: #EFEFEF;
  --gray10: #323232;
  --gray11: #6A6A6A;
  --gray12: #6E6E6E;
  --gray13: #787878; // #757575
  --gray14: #8E8E8E;
  --gray15: #808080;

  --gray16: #333;
  --gray17: #666;
  --gray18: #888;
  --gray19: #999;
  --gray20: #AAA;
  --gray21: #DDD;

  --gray22: #E9E9E9;
  --gray23: #565656;
  --gray24: #495057;
  --gray25: #8C8C8C;
  --gray26: #C8C8C8;
  --gray27: #BCBCBC;
  --gray28: #7C8C9B;
  --gray29: #D8D8D8;
  --gray30: #e6e6e7;


  --green: #DBFFF9;
  --green2: #F8FFEE;
  --green3: #C6DFB4;

  --purple: #7C65DE;
  --purple2: #EAE4FB;


  // 이오플로우 컬러
  --green1 : #94B44E;
  --green2 : #7AC029;
  --green3 : #E8FFCD;

  --blue1 : #9BD0F0;
  --blue2 : #00A2E4;

  // 게시판 - 공지사항 배경색
  --bg-notice: rgb(255, 240, 193);
}

body,
html {
  margin: 0;
  height: 100%;
  font-size: 12px;

  @media (max-width: 767px) {
    & {
      font-size: 10px;
    }
  }
}

ul,
ol,
li {
  list-style: none;
}

a,
button {
  border: none;
  background: none;
  outline: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.btn:focus {
  box-shadow: none !important;
}

select::-ms-expand {
  display: none;
}

/* wrapper, inner*/
.content-body {
  width: 100%;
  min-height: calc(100% - 160px);
  padding-top: 68px;
  background: var(--gray1);
  box-sizing: border-box;
}

.content-wrapper {
  padding: 80px 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;

  // welcome innerHTML style
  .about {

    p {
      word-break: break-word;
    }

    p>img:first-child {
      margin-right: 10px;

      @media (max-width: 850px) {
        & {
          margin-bottom: 16px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    & {
      padding: 40px 0;
    }
  }
}

.content-inner {
  margin: 0 auto;
  padding: 0 16px;
}

.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

// 공통 타이틀박스
.title-wrapper {
  margin: 0 0 40px 0;
  border-bottom: 1px solid var(--gray9);

  &.center {
    text-align: center;
  }

  h2 {
    margin-bottom: 16px;
    font-weight: bold;
  }
}

/* 말줄임 표시 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;

  // 두줄일때
  &.line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }

  // 네줄일때
  &.line-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    white-space: normal;
  }
}


/* Player */
.vjs-vimeo {
  z-index: 10;
}

/* modal */
.modal.detail-modal {
  overflow: hidden;
  background: RGBA(0, 0, 0, .5);

  .modal-content {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  }

  .modal-header {
    position: relative;
    z-index: 99;
    padding: 0;
    border: 0;
    background: transparent;

    .item-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 16px;
      right: 16px;
      width: 2.62rem;
      height: 2.62rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);
      border: none;

      .icon-close-w {
        font-size: 1rem;
      }
    }
  }

  .modal-body {
    overflow: scroll;
    max-height: 98vh;
    background: var(--white);
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
  }
}

/* Iframe */
.iframe-wrapper {
  max-width: 640px;
  min-width: 100%;
  padding: 8px;
  text-align: center;

  p {
    text-align: left;
    word-break: break-all;
  }

  & iframe {
    width: 100%;
    height: auto;
    min-height: 30vh;
  }
}

.only-iframe-wrapper {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Search Wrapper */

.search-wrapper {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;

  .select-box {
    display: inline-block;
    width: 150px;
    height: 40px;
    padding-right: 32px;
    font-size: 1.2rem;
    border: 1px solid var(--gray25);
    background: url('/assets/icons/select_arrow.svg');
    background-size: 9px;
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: none;
  }

  .search-input {
    display: inline-block;
    width: 380px;
    height: 40px;
    margin-left: 16px;
    padding-left: 40px;
    font-size: 1.2rem;
    border: 1px solid var(--gray25);
    background: url('/assets/icons/search-icon.svg');
    background-size: 20px;
    background-position: 12px center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: none;
  }

  @media(max-width: 767px) {
    height: 36px;

    .select-box {
      width: 130px;
      height: 36px;
      font-size: 1.1rem;
    }

    .search-input {
      width: 100%;
      max-width: 314px;
      height: 36px;
      padding-left: 40px;
      font-size: 1.1rem;
    }
  }

  @media(max-width: 575px) {
    height: 80px;

    .select-box {
      width: 100%;
    }

    .search-input {
      max-width: inherit;
      margin-left: 0;
    }

  }
}

// !toast css
.toast {
  font-size: 1.2rem;
  background: none;

  @media(max-width: 575px) {
    font-size: 1.1rem;
  }

  box-shadow: 0 0.25rem 1.75rem rgb(0 0 0 / 50%);
}

.toast-header {
  border-radius: 8px 8px 0 0;
  font-size: 12px;
  padding-bottom: 0;
  color: #2454fa;
  border-bottom: 0;
  background: #ffffff;
}

.toast-body {
  border-radius: 0 0 8px 8px;
  padding-top: 2px;
  background: #ffffff;
  color: #2e2e2e;
}

.toast-header button {
  color: #000;
}

.toast-wrapper {
  width: 340px;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  min-width: 320px;
}

.toast.show {
  border-radius: 8px;
}


/* 공통 스타일 클래스 */
.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

// .not-drag {
//   -moz-user-select: -moz-none;
//   -khtml-user-select: none;
//   -webkit-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

.cursor-pointer {
  cursor: pointer;
}

.bg-main-blue {
  background: var(--main-color);
  color: var(--white);
}
