<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Posters</h2>
      </div>
      
      <!-- 검색 -->
      <div class="category-wrapper">
        <ng-container *ngFor="let category of allCategories; let i = index">
          <button class="btn category-item" [ngClass]="{'active': i === curCategory}" (click)="setCategory(i)">
            {{category.categoryName}}
          </button>
        </ng-container>
      </div>

      <div class="search-wrapper">
        <input type="text" class="form-control search-input" placeholder="Search by Abstract No. / Title / Author"
          [(ngModel)]="searchText" (keyup.enter)="search()">
      </div>

      <table class="poster-list-table">
        <colgroup>
          <col style="width:10%">
          <col style="width:10%">
          <col style="width:70%">
          <col style="width:10%">
        </colgroup>
        <thead>
          <th>Abstract No.</th>
          <th>Categories</th>
          <th>Title</th>
          <th>Views</th>
        </thead>
        <tbody>
          <tr *ngFor="let poster of posters" (click)="goDetail(poster.id)">
            <td class="subtitle">{{poster.subTitle}}</td>
            <td class="category text-center">{{poster.category?poster.category.categoryName:''}}</td>
            <td class="title">
              <p class="text-title">{{poster.title}}</p>
              <p class="text-author" *ngIf="poster.author">{{poster.author}}</p>
              <p class="text-company" *ngIf="poster.company">{{poster.company}}</p>
            </td>
            <td class="view-count text-center">{{poster.viewCount || 0}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
