<div class="content-body">
  <div class="content-inner live-inner">
    <div class="live-player" *ngIf="live && showPlayer">
      <!-- ! YOUTUBE / Ustream -->
      <ng-container *ngIf="live.provider === 'youtube' || live.provider === 'ibm'">
        <app-player-youtube-ibm [content]="live" [isLive]="true" [selected]="selected"
          (checkIsLastSession)="checkIsLastSession($event)" [agendas]="agendas"></app-player-youtube-ibm>
      </ng-container>

      <!-- TODO Vimeo -->
      <!-- <app-player *ngIf="live.provider === 'vimeo'" [content]="live" [isLive]="true" [selected]="selected"
        [bannersLiveChat]="bannersLiveChat" (checkIsLastSession)="checkIsLastSession($event)" [agendas]="agendas">
      </app-player> -->

    </div>
  </div>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">Entry modal open</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  data-keyboard="true" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          알림
        </div>
        <div class="modal-description">
          <p class="text-center" style="color:yellow;">
            입장하시겠습니까?
          </p>
        </div>
        <div class="modal-footer in-out">
          <button type="button" class="btn btn-primary" [ngClass]="getAttendance()" data-toggle="modal"
            data-target="#entryAlert" (click)="atndnCheck()">
            {{getAttendance() === 'in' ?'확인':'Exit'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
